.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
venv/
traefik.yml

/frontend

/backend/__pycache__
/backend/app.egg-info
/backend/*.pyc
/backend/.mypy_cache
/backend/.coverage
/backend/htmlcov
/backend/.cache
/backend/.venv

docker-compose.yml
docker-compose.override.yml
docker-compose.traefik.yml